<<<<<<< HEAD


=======
body{
    /* Safari 4-5, Chrome 1-9 */
    background-image: url("../img/bg.jpg");


}

>>>>>>> 5657c3bf7819c9651d97d56025af1ee340889cf3
.centered-form{
    margin-top: 60px;
}

.centered-form .panel{
    background: rgba(255, 255, 255, 0.8);
    box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
}

label.label-floatlabel {
    font-weight: bold;
    color: #dc98ba;
    font-size: 11px;
}
.role{
<<<<<<< HEAD
    padding-left: 100px;
}
.choserole{
    padding-left: 100px;
=======
    padding-left: 130px;
}
.choserole{
    padding-left: 120px;
>>>>>>> 5657c3bf7819c9651d97d56025af1ee340889cf3
}
.panel-title{
    padding-left: 100px;
}
.btn-info{
    color: #fff;
    background-color: #dc3545;
    border-color: #6c757d;
<<<<<<< HEAD
}
.form-control .form-control-feedback{
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
=======
>>>>>>> 5657c3bf7819c9651d97d56025af1ee340889cf3
}