<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"
          href="../public/css/bootstrap.min.css"/>
</head>
<link rel="stylesheet" th:href="@{/css/home_page.css}"
      href="../public/css/home_page.css"/>


<body>

<nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" href="#">
        <img class="logo" th:src="@{/img/logo.jpg}"/>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="/">Home </a>

            <a class="nav-item nav-link" href="/logout">Log out</a>

            <a class="nav-item nav-link disabled" th:href="${myPage}">My page<span class="sr-only">(current)</span></a>
        </div>
    </div>
</nav>


</body>
</html>